<!DOCTYPE html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<nav>
  <div class="centered-list">
    <h1 class="titulo">Flaskr</h1>
    <ul class="ul_prin">
      <li class="li_prin"><a href="{{ url_for('alb.index') }}">Albums</a></li>
      <li class="li_prin">
        <a href="{{ url_for('can.index') }}">Canciones</a>
      </li>
      <li class="li_prin"><a href="{{ url_for('art.index') }}">Artistas</a></li>
    </ul>
  </div>
</nav>
