h1 {
  color: rgb(0, 0, 0);
}
.links {
  display: flex;
  justify-content: center;
}
header {
  font-style: oblique;
  font-family: "Courier New", Courier, monospace;
}
.agarro {
  margin-right: 40%;
  text-align: center;
  border: solid;
}
.lincan {
  color: black;
}
